input[type=number]::-webkit-outer-spin-button, 
input[type=number]::-webkit-inner-spin-button {
 -webkit-appearance: none;
 margin: 0;
} 

input[type=number] {
 -moz-appearance:textfield;
}

.close:focus {
 outline: none !important;
 border: none !important;
}

.hmg {
 height: 45px !important;
}

.mot {
 width: 100%; 
 position: absolute;
 margin-bottom: 0 !important;
 text-align: center;
 margin-top: -2px;
}

.modal-header {
 padding: 1.9em 0rem !important;
 padding-right: 1rem !important;
}

.alr {
 margin-bottom: 0 !important;
 margin-bottom: 3px !important;
}
